.topnav {
  background-color: #808080;
  overflow: hidden;
}

body {
  background-color: powderblue;
}
.sign{
  position: absolute;
  text-decoration: none;
  top: 30px;
  right: 16px;
  color: #000000;
  font-size: 17px;
}

.sign1{
  position: absolute;
  text-decoration: none;
  top: 30px;
  right: 106px;
  color: #000000;
  font-size: 17px;
}

.searchbox{
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

 .searchbox input[type=text] {
  padding: 18px 20px;
  margin-right: 0;
  /* margin-top: 1px;
  font-size: 19px;
  position: absolute;
  top: 30px;
  right: 400px;
  border: none; */
  /* border: 1px solid #ccc; */
}

.searchbutton {
  /* float: right;
  position: absolute;
  top: 24px;
  right: 380px;
  margin-top: 8px;
  margin-right: 6px; */
  background: #ddd;
  font-size: 15px;
  padding: 18px 20px;
  /* display: block; */
  border: none;
  cursor: pointer;

}
.searchbutton button:hover {
  background: #ccc;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 30px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-d{
  display: flex;
  flex: 1;
}

select {
  appearance: none;
  background-color: white;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: Verdana;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.relative {
  position: absolute;
  right: 7%;
  top: 4%;

}

body {
  background-color:white;
  font-size: 20px;

  font-family: Verdana;
}

.interval {
  position: absolute;
  top: 30px;
  right: 16px;
  color: #000000;
  font-size: 17px;

  font-family: Verdana;
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
