select {
  appearance: none;
  background-color: white;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.relative {
  position: absolute;
  right: 7%;
  top: 4%;

}

body {
  background-color: powderblue;
  font-size: 20px;
}

.interval {
  position: absolute;
  top: 30px;
  right: 16px;
  color: #000000;
  font-size: 17px;
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

select {
  appearance: none;
  background-color: white;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: Verdana;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.relative {
  position: absolute;
  right: 7%;
  top: 4%;

}

body {
  background-color: powderblue;
  font-size: 20px;

  font-family: Verdana;
}

.interval {
  position: absolute;
  top: 30px;
  right: 16px;
  color: #000000;
  font-size: 17px;

  font-family: Verdana;
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}
